<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AndroidResProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AndroidResProcessor.Properties.Settings>
            <setting name="PathOrig" serializeAs="String">
                <value />
            </setting>
            <setting name="PathMerge" serializeAs="String">
                <value />
            </setting>
            <setting name="PathCur" serializeAs="String">
                <value />
            </setting>
            <setting name="PathFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="PathSmali" serializeAs="String">
                <value />
            </setting>
            <setting name="Digits" serializeAs="String">
                <value />
            </setting>
            <setting name="PathPNGs" serializeAs="String">
                <value />
            </setting>
            <setting name="PathReplace" serializeAs="String">
                <value />
            </setting>
        </AndroidResProcessor.Properties.Settings>
    </userSettings>
</configuration>